body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --borderColor-editor: #9bbde4;

  --borderColor-selected: #2980b9;

  --borderColor-selectedDisabled: #efefef;

  --font-family-mono: source-code-pro, Menlo, Monaco, Consolas, monospace;

  --font-size-primary: 14px;

  --outlineColor-focus: red;

  --spacing-standard: 20px;

  --spacing-small: 8px;
}
