.NotebookBlock-Root {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  position: relative;
}

.NotebookBlock-Root:focus {
  outline: none;
}

.NotebookBlock-Content {
  flex-grow: 1;
}

.NotebookBlock-Content-Editable {
  cursor: pointer;
}

.NotebookBlock-Root:focus .NotebookBlock-Content-AllowFocusHighlight {
  outline: solid var(--outlineColor-focus) 1px;
}

@media (min-width: 600px) {
  .NotebookBlock-LeftGutter {
    min-width: 80px;
    width: 80px;
  }

  .NotebookBlock-RightGutter {
    min-width: 80px;
    width: 80px;
  }
}
