.NotebookBlockLevr-Root {
}

.NotebookBlock-Root:not(:focus) .NotebookBlockLevr-CodeEditor {
  border: solid var(--borderColor-editor) 1px;
}

.NotebookBlock-Root:focus .NotebookBlockLevr-CodeEditor {
  border: solid var(--outlineColor-focus) 1px;
}

.NotebookBlockLevr-CodeEditor {
  border-radius: 2px;
  box-sizing: border-box;
  padding: 4px;
}

.NotebookBlockLevr-CodeEditor-Focus {
}

.NotebookBlockLevr-Logs {
  font-family: var(--font-family-mono);
  font-size: var(--font-size-primary);
  padding: var(--spacing-standard) 0;
}
